$width: 290px;
$settings-width: 590px;


@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.tmf {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  backface-visibility: visible !important;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  box-sizing: border-box;
  padding: 15px 30px;
  position: fixed;
  right: 30px;
  top: 100px;
  width: $width;
  z-index: 3999;
  &--initial {
    display: none;
  }
  &--show {
    animation-name: flipInY;
  }
  &--hide {
    animation-name: flipOutY;
  }
}

.tmf--active .tmf-btn,
.tmf--active .tmf__options {
  display: none;
}

.tmf--active .tmf-btn--active {
  display: block;
}

.tmf__options {
  margin: 15px;
}

.tmf__without-exception {
  vertical-align: middle;
}

.tmf-btn {
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
  margin: auto;
  margin-bottom: 15px;
  width: $width - 60px;
  display: block;
  line-height: 1.6;
  text-align: center;
}

.tmf-btn__title {
  font-size: 18px;
  font-weight: bold;
}

.tmf-btn__text {
  opacity: 0.8;
}

.tmf-btn--follow {
  border: 1px solid #e1e8ed;
  background-color: #e1e8ed;
  background-image: linear-gradient(#fff,#e1e8ed);
}

.tmf-btn--unfollow {
  background-color: #be1931;
  border: 1px solid #a0041e;
  color: white;
}

.tmf__note {
  color: #66757f;
  font-size: 12px;
}

.tmf-log {
  font-size: 12px;
}

.tmf-log--success {
  color: green;
}
.tmf-log--warn {
  color: orangered;
}

// Settings

#tmf-settings {
  .modal {
    left: 50%;
    margin-left: -$settings-width/2;
    top: 100px;
    width: $settings-width;
    .controls {
      margin-left: 140px;
      p {
        font-size: 12px;
      }
    }
    hr {
      margin: 20px -12px;
    }
  }
}
