$width: 290px;
$settings-width: 590px;

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.tmf {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  backface-visibility: visible !important;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  box-sizing: border-box;
  padding: 15px 30px;
  position: fixed;
  right: 30px;
  top: 100px;
  width: $width;
  z-index: 9999;
  &--initial {
    display: none;
  }
  &--show {
    animation-name: flipInY;
  }
  &--hide {
    animation-name: flipOutY;
  }
  &--follow {
    .tmf-btn--follow {
      display: block;
    }
    .tmf-btn--unfollow {
      display: none;
    }
  }
  &--unfollow {
    .tmf-btn--follow {
      display: none;
    }
    .tmf-btn--unfollow {
      display: block;
    }
  }
  &--follow,
  &--unfollow {
    .tmf__link {
      display: none;
    }
  }
}

.tmf-btn {
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
  margin: auto;
  margin-bottom: 15px;
  min-height: 80px;
  width: $width - 60px;
  display: block;
  line-height: 1.6;
  text-align: center;
  &__title {
    font-size: 18px;
    font-weight: bold;
  }
  &__text {
    opacity: 0.8;
  }
  &--follow {
    border: 1px solid #e1e8ed;
    background-color: #e1e8ed;
    background-image: linear-gradient(#fff,#e1e8ed);
  }
  &--unfollow {
    background-color: #be1931;
    border: 1px solid #a0041e;
    color: white;
  }
}

.tmf-log {
  font-size: 12px;
  &--success {
    color: green;
  }
  &--warn {
    color: orangered;
  }
}

// Settings

#tmf-settings {
  display: none;
  .modal {
    left: 50%;
    margin-left: -$settings-width/2;
    top: 100px;
    width: $settings-width;
    .controls {
      margin-left: 140px;
      p {
        font-size: 12px;
      }
    }
    hr {
      margin: 20px -12px;
    }
  }
}

.tmf-saved {
  .control-label:before {
    color: green;
    content: 'saved';
    float: left;
    position: relative;
  }
}
